@page
@model movietheatre.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Shipping</h1>

<h4>Please Add in Shipping information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderHeader.date" class="control-label"></label>
                <input asp-for="OrderHeader.date" class="form-control" />
                <span asp-validation-for="OrderHeader.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.customerID" class="control-label"> Name </label>
                <select asp-for="OrderHeader.customerID" class ="form-control" asp-items="ViewBag.customerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.address" class="control-label"></label>
                <input asp-for="OrderHeader.address" class="form-control" />
                <span asp-validation-for="OrderHeader.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.city" class="control-label"></label>
                <input asp-for="OrderHeader.city" class="form-control" />
                <span asp-validation-for="OrderHeader.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.state" class="control-label"></label>
                <input asp-for="OrderHeader.state" class="form-control" />
                <span asp-validation-for="OrderHeader.state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.cardnumber" class="control-label"></label>
                <input asp-for="OrderHeader.cardnumber" class="form-control" />
                <span asp-validation-for="OrderHeader.cardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
