@page
@model movietheatre.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
    double total = 0;
}

<h1>Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
           
            <th>
                Total
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.OrderHeader) if (item.customer.email == User.Identity.Name)
        {

            foreach (var item2 in item.orderDetails)
            {
                total += item2.total;
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>

                <td>
                    $@String.Format("{0:N2}", total)
                </td>
                <td>

                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>

                </td>
            </tr>

            total = 0;

        }
    </tbody>
</table>
