@page
@model movietheatre.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Contact Information</h1>

<h4>You must set your contact information before ordering items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.fname" class="control-label">First Name</label>
                <input asp-for="Customer.fname" class="form-control" />
                <span asp-validation-for="Customer.fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.lname" class="control-label">Last Name</label>
                <input asp-for="Customer.lname" class="form-control" />
                <span asp-validation-for="Customer.lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.postal" class="control-label">Postal Code</label>
                <input asp-for="Customer.postal" class="form-control" />
                <span asp-validation-for="Customer.postal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.dob" class="control-label">Date of Birth</label>
                <input asp-for="Customer.dob" class="form-control" />
                <span asp-validation-for="Customer.dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
