@page
@model movietheatre.Pages.ConfirmationModel
@{

    <h2>Your Order has been placed!</h2> <br />

    <h3>Thank you for your purchase!</h3> <br />

    <p><a href="Index">Return Home</a></p> <br />  
    <p><a href="/Orders/Index">View Old Orders</a></p>


   
    }
