@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- bootstrap stuff -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }
    .carousel .carousel-item{
        height:800px;
    }
    .carousel-item img {
        position:absolute;
        top:0;
        left:0;
        max-height:800px;
        object-fit:scale-down;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to TMU Movies</h1>

    <h2 style="justify-content:left;">
        Now Showing:
    </h2>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-page="/checkout/create" asp-route-itemid="2"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/738d0a64-5634-4d9d-9be3-d8c1b8db813d/d30919n-c2f0a338-0edd-4915-b205-abeb9a4200c7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzczOGQwYTY0LTU2MzQtNGQ5ZC05YmUzLWQ4YzFiOGRiODEzZFwvZDMwOTE5bi1jMmYwYTMzOC0wZWRkLTQ5MTUtYjIwNS1hYmViOWE0MjAwYzcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qiKQD8RC4aVebwyTLT4Q57dNUOY6apBeOh9m_tDP9ek" class="d-block w-100" alt="Forrest Gump"></a>
            </div>
            <div class="carousel-item">
                <a asp-page="/checkout/create" asp-route-itemid="2"><img src="https://m.media-amazon.com/images/M/MV5BZWQ5YzU5MTMtZmY1OS00Zjc1LWFjN2QtMzY4ZmRjNzFlNzQ1XkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" class="d-block w-100" alt="The Thing"></a>
            </div>
            <div class="carousel-item">
                <a asp-page="/checkout/create" asp-route-itemid="2"><img src="https://m.media-amazon.com/images/M/MV5BZjE2ZWIwMWEtNGFlMy00ZjYzLWEzOWEtYzQ0MDAwZDRhYzNjXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" class="d-block w-100" alt="Goodfellas"></a>
            </div>
            <div class="carousel-item">
                <a asp-page="/checkout/create" asp-route-itemid="2"><img src="https://m.media-amazon.com/images/M/MV5BNzEzOTZjYjYtMTI3MS00NWE1LWIyZTktYTRlMTBlYjlkMjZiXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" class="d-block w-100" alt="Goodfellas"></a>
            </div>            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
